@import "tailwindcss";

@theme {
  /* আপনার কাস্টম xs ব্রেকপয়েন্ট এখানে যোগ করুন */
  --breakpoint-xs: 550px;
}

body {
  @apply bg-gray-50;
}

.max-weidth {
  max-width: 1350px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  @apply max-w-[1350px] mx-auto;
}

.custom-heading {
  @apply lg:text-5xl text-3xl md:text-[34px];
}
